[defaults]
inventory            = inventory/hosts.ini
remote_user          = ansible
host_key_checking    = True
retry_files_enabled  = False

[privilege_escalation]
become               = False
become_method        = sudo
